@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-primary: #9b37c5;
  --color-bg-dark: #051937;
  --color-text: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #051937,
    #202c6b,
    #56389c,
    #9b37c5,
    #eb12e0
  );
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.container {
  backdrop-filter: blur(20px);
  backdrop-filter: brightness(60%);
  max-width: 1050px;
  width: 100%;
  min-height: 90%;
  margin: 2em;

  border-radius: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
}

.info-container {
  height: 100%;
  width: 100%;
  padding: 2em 0;
  text-align: center;
}

.drop-area-container {
  width: 100%;
  height: 100%;
}

#drop-area {
  /* border: 2px solid var(--color-primary); */
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  background: var(--color-bg-dark);
  border-radius: 2rem;
  box-shadow: 0 0 20px var(--color-primary);
}

#drop-area.highlight {
  transform: scale(1.04);
}

.filename {
  grid-column: 1 / span 3;
  text-align: center;
}

.stats-container {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-around;
}

.stats-container > * {
  text-align: center;
}

.stat-text {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

meter {
  border: 2px solid red;
  width: 100%;
  height: 2rem;
}

.waveform-container {
  grid-column: 1 / span 2;
}

.wave-spectrogram {
  grid-column: 1 / span 2;
  /* border-radius: 1rem;
  overflow: hidden; */
}

#fileInput {
  position: absolute;
  top: -1000px;
}
